body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(78, 78, 78);
    background-color: rgb(219, 219, 219);
    width: 350px;
    margin-left: 120px;
    background-image: linear-gradient(to right, gray, white, red);
}

h1:hover {
    color: rgb(219, 219, 219);
    background-color: rgb(209, 67, 67);
    transition: all 1s linear;
}

p {
    font-size: 18px;
    color: rgb(34, 34, 34);
}

span {
    background-color: red;
    color: white;
}

.speaker {
    margin-left: 50px;
}

.ali {
    color: blue;
    background-color: white;
    margin-left: 145px;
}
